Iteration

In [1]:
j = 0
while j < 7:
    j = j + 1
    print(j)

1
2
3
4
5
6
7

In [2]:
k = 3
while k <= 10:
    k = k + 1
    print(k)

4
5
6
7
8
9
10
11

In [3]:
for k in range(10):
    print(k)

0
1
2
3
4
5
6
7
8
9

In [4]:
for k in range(10):
    k = k + 1
    print(k)

1
2
3
4
5
6
7
8
9
10

In [5]:
for k in range(1,11):
    print(k)

1
2
3
4
5
6
7
8
9
10

In [6]:
for k in range(7):
    l = k**2
    if k == 4:
        break
    print(k,l)

0 0
1 1
2 4
3 9

In [7]:
for k in range(7):
    l = k**2
    if k == 4:
        continue
    print(k,l)

0 0
1 1
2 4
3 9
5 25
6 36

In [8]:
my_list = [2,3,4,5,9]

sum = 0
n = 0
for i in my_list:
    sum = sum + i
    n = n + 1
mean = sum/n
print(mean)

4.6

In [9]:
my_list = [2,3,4,5,9]

sum = 0
n = 0
for i in my_list:
    if i%2 != 0:
        sum = sum + i
        n = n + 1
mean = sum/n
print(mean)

5.666666666666667

In [10]:
n_list = [1,-5,16,76,127,4]
lrgv = n_list[0]
for i in n_list:
    if i > lrgv:
        lrgv = i
print(lrgv)

127

In [11]:
n_list = [1,-5,16,76,127,4]
smlv = n_list[0]
for i in n_list:
    if i < smlv:
        smlv = i
print(smlv)

-5

In [12]:
alist = ["Tom", "Dick", "Harry"]
print(enumerate(alist))

<enumerate object at 0x0000028AFB8A4BD0>

In [13]:
for item in enumerate(alist):
    print(item, type(item))

(0, 'Tom') <class 'tuple'>
(1, 'Dick') <class 'tuple'>
(2, 'Harry') <class 'tuple'>

In [14]:
for item in enumerate(alist):
    index, value = item
    print(item, index, value)

(0, 'Tom') 0 Tom
(1, 'Dick') 1 Dick
(2, 'Harry') 2 Harry

In [16]:
def s(m,n):
    return m%n == 0
print(s(6,2))
print(s(7,2))

True
False

In [17]:
def s(m):
    print(m * m)
a = s(3)
print(a)

9
None