In [1]:
person_age = 18
print('Ann is', person_age, 'years.')

Ann is 18 years.

I set "person_age" equal to 18  
I printed "Ane is 18 years."

In [4]:
print('Enter wage:', end=' ')
wage = int(input())


new_wage = wage + 10
print('New wage:', new_wage)

Enter wage: 8
New wage: 18

I printed "Enter Wage:" asking for wage input  
I input "8" for "Enter Wage:"  
New wage "8" was added to 10 and become "18"  
I printed "New Wage: 18"

In [4]:
wage = 20
hours= 40
w = "Your wage rate is"
h = "Your hours worked are"
earnings = wage * hours
e = "Your earnings are"
p = "."

print(w, wage, p)
print(h, hours, p)
print(e, earnings, p)

Your wage rate is 20 .
Your hours worked are 40 .
Your earnings are 800 .

Remove the space before the period.

In [5]:
wage = 20
hours= 40
w = "Your wage rate is"
h = "Your hours worked are"
earnings = wage * hours
e = "Your earnings are"
p = "."

print(w, wage, end="")
print(p)
print(h, hours, end="")
print(p)
print(e, earnings, end="")
print(p)

Your wage rate is 20.
Your hours worked are 40.
Your earnings are 800.

Print ABC on three separate lines

In [10]:
print('A\nB\nC')

A
B
C

1. Ask for the name of a person's pet
2. Wait for the answer.
3. Print the name of the pet with a comment

In [29]:
pet_name = input("What is your pet's name? ")
print('Your pet\'s name is', pet_name, end= '')
print('.')

What is your pet's name? Dan
Your pet's name is Dan.

1. Request an integer
2. Multiply the integer by 2
3. Print the result

In [20]:
num = int(input("Give an integer: "))
num = num * 2
print('The result is ', num)

Give an integer: 5
The result is  10

In [23]:
x = 2
y = 3 * x
print(y)
x = 3
print(y)

6
6
3

In [30]:
x = 3 + 4 * 2
y = 2 * (3 + 4)
print(x)
print(y)

11
14

In [32]:
print(5 - 3 - 2)
print((5 - 3) - 2)
print(5 - (3 - 2))

0
0
4

In [34]:
print(5 ** 3 ** 2)
print((5 ** 3) ** 2)
print(5 **(3 ** 2))

1953125
15625
1953125

In [37]:
print(-1 ** 2)
print((-1) * (-1))

-1
1

In [38]:
num = int(input('Enter a numer with decimal point: '))

Enter a numer with decimal point: 1.22

ValueError: invalid literal for int() with base 10: '1.22'

In [40]:
print(int(input('Enter a numer with decimal point: ')))

Enter a numer with decimal point: 1.0

ValueError: invalid literal for int() with base 10: '1.0'

In [44]:
print(float(input('Enter a numer with decimal point: ')))

Enter a numer with decimal point: 2.0
2.0

Add decimal to integer number

In [43]:
print(float(input('Enter a numer with decimal point: ')))

Enter a numer with decimal point: 5
5.0

In [45]:
x = 1.0
print(x * 100)
print(x + 10)
print(x - 20)
print(x / 2)
print(x ** .5)

100.0
11.0
-19.0
0.5
1.0

In [48]:
x = 1.0
x *= 100
print(x)
x += 10
print(x)
x -= 20
print(x)
x /= 2
print(x)
x **= .05
print(x)

100.0
110.0
90.0
45.0
1.209652495414788

In [47]:
x = 5 / 3
print(x)

x = 5 // 3
print(x)

x = 5 % 3
print(x)

1.6666666666666667
1
2

In [49]:
x = sqrt(2)

NameError: name 'sqrt' is not defined

In [50]:
import math
x = sqrt(2)

NameError: name 'sqrt' is not defined

In [53]:
import math
x = math.sqrt(2)
print(x)

1.4142135623730951

In [57]:
print("TomDickHarry")
print("Tom\nDick\nHarry")
print("Tom\\nDick\\nHarry")
print("Tom\\\nDick\\\nHarry")

TomDickHarry
Tom
Dick
Harry
Tom\nDick\nHarry
Tom\
Dick\
Harry

In [6]:
state_codes_names = {
	'WA': 'Washington', 'SD': 'South Dakota', 'NE': 'Nebraska', 'RI': 'Rhode Island',
	'DE': 'Delaware', 'MO': 'Missouri', 'HI': 'Hawaii', 'PA': 'Pennsylvania',
	'CO': 'Colorado'
}

start_from = input()
end_at = input()
 
print(state_codes_names[start_from], 'to', state_codes_names[end_at])

WA
SD
Washington to South Dakota

In [1]:
3 * 8**2 + 6 * 8**1 + 7 * 8**0

247

In [2]:
1 * 2**3 + 0 * 2**2 + 1 * 2**1 + 1 * 2**0

11

hexadecimal = base 16; we can't use '10' we use ABCDEF; A = '10'

0b = we are using binary; 0x = hexadecimal

In [3]:
x=0xf3
print(x)

243

In [5]:
x = int('110011101',2)
print(x)
y= hex(int('110011101',2))
print(y)

413
0x19d

In [8]:
int('afc',16)

2812

In [9]:
bin(int('afc',16))

'0b101011111100'

In [18]:
names = ['Tom', 'Dick','Harry']
print(names)

['Tom', 'Dick', 'Harry']

In [24]:
names2 = ['Susan', 'Alice', 'Beth']
print(names2)
namesb = names + names2
print(namesb)

['Susan', 'Alice', 'Beth']
['Tom', 'Dick', 'Harry', 'Susan', 'Alice', 'Beth']

In [25]:
namesc = names.append(names2)
print(namesc)
print(names)

None
['Tom', 'Dick', 'Harry', ['Susan', 'Alice', 'Beth']]

In [26]:
t1 = 1, 2, 3
t2 = (1, 2, 3)

print(t1)
print(t2)

(1, 2, 3)
(1, 2, 3)

In [27]:
x =t1[0]
print(x)

z = t1[-1]
print(z)

1
3

In [28]:
t1[0] = 4
print(t1)

TypeError: 'tuple' object does not support item assignment

In [31]:
ASet = {"cat", "dog", "parrot"}
AList = ["cat", "dog", "parrot"]
ATuple = ("cat", "dog", "parrot")
print(ASet)
print(AList)
print(ATuple)
print(type(ASet))
print(type(AList))
print(type(ATuple))

{'dog', 'parrot', 'cat'}
['cat', 'dog', 'parrot']
('cat', 'dog', 'parrot')
<class 'set'>
<class 'list'>
<class 'tuple'>

In [34]:
print(ASet[0])

TypeError: 'set' object is not subscriptable

In [33]:
print(AList[0])

cat

In [35]:
print(ATuple[0])

cat

In [49]:
adict = {"Joe": 175,"Tom": 190,"Dick": 150}
print(adict)

{'Joe': 175, 'Tom': 190, 'Dick': 150}

In [50]:
adict["Harry"] = 180
print(adict)

{'Joe': 175, 'Tom': 190, 'Dick': 150, 'Harry': 180}

In [52]:
del adict["Joe"]
print(adict)

{'Tom': 190, 'Dick': 150, 'Harry': 180}

In [53]:
entry1 = adict[0]
print(entry1)

KeyError: 0

In [1]:
print(adict["Dick"])

NameError: name 'adict' is not defined

In [2]:
# 1. TODO: Define my_list containing my_flower1, my_flower2, and my_flower3
# in that order
my_flower1 = input()
my_flower2 = input()
my_flower3 = input()
my_list = [my_flower1, my_flower2, my_flower3]

# 2. TODO: Define your_list containing your_flower1 and your_flower2
# in that order
your_flower1 = input()
your_flower2 = input()
your_list = [your_flower1, your_flower2]

# 3. TODO: Define our_list by concatenating my_list and your_list
our_list = my_list + your_list
print(our_list)

# 4. TODO: Append their_flower to the end of our_list
their_flower = input()
our_list.append(their_flower)

# 5. TODO: Replace my_flower2 in our_list with their_flower
our_list[my_list.index(my_flower2)] = their_flower
print(our_list)

# 6. TODO: Remove the first occurrence of their_flower from
# our_list without using index()
our_list.remove(their_flower)
print(our_list)

# 7. TODO: Remove the second element of our_list
del our_list[1]
print(our_list)

rose
peony
lily
rose
daisy
['rose', 'peony', 'lily', 'rose', 'daisy']
aster
['rose', 'aster', 'lily', 'rose', 'daisy', 'aster']
['rose', 'lily', 'rose', 'daisy', 'aster']
['rose', 'rose', 'daisy', 'aster']

In [1]:
#A few legal, acceptable Danish names
legal_names = ['Thor', 'Bjork', 'Bailey', 'Anders', 'Bent', 'Bjarne', 'Bjorn', 
    'Claus', 'Emil', 'Finn', 'Jakob', 'Karen', 'Julie', 'Johanne', 'Anna', 'Anne', 
    'Bente', 'Eva', 'Helene', 'Ida', 'Inge', 'Susanne', 'Sofie', 'Rikkie', 'Pia', 
    'Torben', 'Soren', 'Rune', 'Rasmus', 'Per', 'Michael', 'Mads', 'Hanne', 
    'Dorte'
]

user_name = input('Enter desired name:\n')
if user_name in legal_names:
    print(f'{user_name} is an acceptable Danish name. Congratulations.')
else:
    print(f'{user_name} is not acceptable.')
    for name in legal_names:
        if user_name[0] == name[0]:
            print(f'You might consider: {name},', end=' ')
            break
    else:
        print('No close matches were found.')
print('Goodbye.')

Enter desired name:
Bjork
Bjork is an acceptable Danish name. Congratulations.
Goodbye.

In [2]:
#A few legal, acceptable Danish names
legal_names = ['Thor', 'Bjork', 'Bailey', 'Anders', 'Bent', 'Bjarne', 'Bjorn', 
    'Claus', 'Emil', 'Finn', 'Jakob', 'Karen', 'Julie', 'Johanne', 'Anna', 'Anne', 
    'Bente', 'Eva', 'Helene', 'Ida', 'Inge', 'Susanne', 'Sofie', 'Rikkie', 'Pia', 
    'Torben', 'Soren', 'Rune', 'Rasmus', 'Per', 'Michael', 'Mads', 'Hanne', 
    'Dorte'
]

user_name = input('Enter desired name:\n')
if user_name in legal_names:
    print(f'{user_name} is an acceptable Danish name. Congratulations.')
else:
    print(f'{user_name} is not acceptable.')
    for name in legal_names:
        if user_name[0] == name[0]:
            print(f'You might consider: {name},', end=' ')
            break
    else:
        print('No close matches were found.')
print('Goodbye.')

Enter desired name:
Michaal
Michaal is not acceptable.
You might consider: Michael, Goodbye.

In [3]:
#A few legal, acceptable Danish names
legal_names = ['Thor', 'Bjork', 'Bailey', 'Anders', 'Bent', 'Bjarne', 'Bjorn', 
    'Claus', 'Emil', 'Finn', 'Jakob', 'Karen', 'Julie', 'Johanne', 'Anna', 'Anne', 
    'Bente', 'Eva', 'Helene', 'Ida', 'Inge', 'Susanne', 'Sofie', 'Rikkie', 'Pia', 
    'Torben', 'Soren', 'Rune', 'Rasmus', 'Per', 'Michael', 'Mads', 'Hanne', 
    'Dorte'
]

user_name = input('Enter desired name:\n')
if user_name in legal_names:
    print(f'{user_name} is an acceptable Danish name. Congratulations.')
else:
    print(f'{user_name} is not acceptable.')
    for name in legal_names:
        if user_name[0] == name[0]:
            print(f'You might consider: {name},', end=' ')
            break
    else:
        print('No close matches were found.')
print('Goodbye.')

Enter desired name:
Zoidberg
Zoidberg is not acceptable.
No close matches were found.
Goodbye.