Strings: 
Strings are enclosed in quotes, either single or double will work, but they must match. If a string includes one type of quote mark, you must use the other type to define it.

In [1]:
s = "This is a string"
s1 = 'This is also a string'
s2 = 'This string includes "A quote inside a string"'

print(s)
print(s1)
print(s2)

This is a string
This is also a string
This string includes "A quote inside a string"

Ending print()
The print function by default includes a newline (\n) character as the last item. You may override this with an end = anything in your call to print.

In [2]:
print(s, end = '')
print(s1)

This is a stringThis is also a string

In [3]:
print(s, end = ' ')
print(s1)

This is a string This is also a string

In [4]:
print(s, end = ' END ')
print(s1)

This is a string END This is also a string

Multiple Arguments in print()
You can include multiple arguments in a call to print separated by commas. print() will insert a single blank space between them in the output.

In [5]:
wage = 20
hours = 40
w = "Your wage rate is"
h = "Your hours worked are"
earnings = wage * hours
e = "Your earnings are"
p = "."

print(w, wage, p)
print(h, hours, p)
print(e, earnings, p)

Your wage rate is 20 .
Your hours worked are 40 .
Your earnings are 800 .

Exercise
Fix that annoying space ahead of the period in the lines above.

In [6]:
print(w, wage, end = '')
print(p)
print(h, hours, end = '')
print(p)
print(e, earnings, end = '')
print(p)

Your wage rate is 20.
Your hours worked are 40.
Your earnings are 800.

Problem
Use one print statement to print the letters A, B and C on three separate lines

In [7]:
print("A\nB\nC")

A
B
C

Problem
Write a program which does the following:

1. Ask for the name of a person's pet
2. Wait for the answer.
3. Print the name of the pet with a comment.

In [8]:
print("What is your pet's name?",end = ' ')
pet_name = input()
print("Hi there,",pet_name)

What is your pet's name? Prem
Hi there, Prem

Problem
Write a program to do the following:

1. Request an integer
2. Multiply the integer by 2
3. Print the result

In [9]:
the_string = input("Give me an integer ")
the_integer = int(the_string)
result = 2 * the_integer
print("The result is",result)

Give me an integer 5
The result is 10

Errors
There are three kinds of error.

1. Syntax
2. Runtime
3. Logic

In [10]:
earnings = wage X hours

SyntaxError: invalid syntax (4022288041.py, line 1)

A Runtime Error

In [11]:
x = "3"
y = x + 2

TypeError: can only concatenate str (not "int") to str

A Logic Error

In [12]:
earnings = wage + hours
print(earnings)

60

Python is not Excel
What will the following code print?

x = 2
y = 3 * x
print(y)
x = 3
print(y)

In [13]:
x = 2
y = 3 * x
print(y)
x = 3
print(y)

6
6