In [1]:
s = "I am so tired that I am nodding off. Should I take a nap?"

What are the values of
The length of s
s[2]
s[-1]
s[-3]

In [2]:
print(len(s))

57

In [3]:
print(s[2])

a

In [4]:
print(s[-1])

?

In [5]:
print(s[-3])

a

Question
What will the following program print.

In [6]:
s[0] = 'Y'
print(s)

TypeError: 'str' object does not support item assignment

Question
What will the following program print?

In [7]:
sa = '111'
sb = '222'
sc = sa + sb
print(sc)

111222

In [8]:
num_books = 2
price = 30
s = f'I bought {num_books} books for {price} each\
and paid ${num_books * price}.'
print(s)

I bought 2 books for 30 eachand paid $60.

Task
Modify the code to print $60.00 at the end.

In [9]:
num_books = 2
price = 30
s = f'I bought {num_books} books for {price} each\
 and paid ${num_books * price:.2f}.'
print(s)

I bought 2 books for 30 each and paid $60.00.

Task
Construct and print a list called names containing the names Tom, Dick, and Harry

In [10]:
names = ['Tom', 'Dick', 'Harry']
print(names)

['Tom', 'Dick', 'Harry']

Question
What is names[1]?

In [11]:
print(names[1])

Dick

Task
Construct a list called names2 with the names Susan, Alice, and Beth. Then concatenate this list to the end of the original list calling the result namesb. Print namesb.

In [12]:
names2 = ['Susan','Alice', 'Beth']
namesb = names + names2
print(namesb)

['Tom', 'Dick', 'Harry', 'Susan', 'Alice', 'Beth']

Task
Run the following commands and explain what happened.

In [13]:
namesc = names.append(names2)
print(namesc)
print(names)

None
['Tom', 'Dick', 'Harry', ['Susan', 'Alice', 'Beth']]

The append method worked on names in place. But the method returns the value None.

Question
What is the length of names now?

In [14]:
print(len(names))

4

Tuples
A tuple is a sequence of values separated by commas. A tuple may or may not be enclosed in parentheses.

Here are some examples.

In [15]:
t1 = 1,2,3
t2 = (1,2,3)

print(t1)
print(t2)

(1, 2, 3)
(1, 2, 3)

Extracting by Index
Values of tuple components may be extracted by numerical index in the same way as lists or strings.

In [16]:
x = t1[0]
print(x)

z = t1[-1]
print(z)

1
3

Tuples are Immutable
Example

The following code will fail.

In [17]:
t1[0] = 4
print(t1[0])

TypeError: 'tuple' object does not support item assignment

Sets, Lists and Tuples
From the Datacamp Tutorial on sets.

"The major difference is that sets, unlike lists or tuples, cannot have multiple occurrences of the same element and store unordered values."

Exercise
Create ASet, AList and ATuple, all of which contain "cat", "dog" and "parrot". Print the type of each.

In [18]:
AList = ["cat","dog","parrot"]
ATuple = ("cat","dog","parrot")
ASet = {"cat","dog","parrot"}

print(type(AList))
print(type(ATuple))
print(type(ASet))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [19]:
print(AList[0])

cat

In [20]:
print(ATuple[0])

cat

In [21]:
print(ASet[0])

TypeError: 'set' object is not subscriptable

Exercise
Create a dictionary, adict, to record the weights of Joe (175), Tom (190), and Dick (150). Print the dictionary.

In [22]:
adict = {"Joe":175,"Tom":190,"Dick":150}
print(adict)

{'Joe': 175, 'Tom': 190, 'Dick': 150}

Exercise
Add Harry, who weighs 180 pounds to the dictionary and print the new dictionary.

In [23]:
adict["Harry"] = 180
print(adict)

{'Joe': 175, 'Tom': 190, 'Dick': 150, 'Harry': 180}

Exercise
Remove Joe from the dictionary and print the new dictionary.

In [24]:
del adict["Joe"]
print(adict)

{'Tom': 190, 'Dick': 150, 'Harry': 180}

In [25]:
entry1 = adict[0]
print(entry1)

KeyError: 0

In [26]:
print(adict["Dick"])

150