The Assignment Statement
An assignment statement has the name of a single variable (until we introduce tuples) on the left-hand side, an "=" in the middle and a valid expression on the right-hand side. The expression may be a single constant.

The expression is evaluated and the resulting value is assigned to the named variable. The variable has this value until it is explicitly changed.

In [1]:
# Example
x = 3 
print(x)
x = 4
print(x)

3
4

In [2]:
# Example: A failure
x + 1 = 3

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4234773355.py, line 2)

In [3]:
# Example: Increment
x = x + 1
print(x)

5

In [4]:
# Example: Not a permanent relationship
y = x * x
print(y)
x = 1
print(y)

25
25

Distinctions
There are three kinds of things we are talking about.

1. A name
2. An object
3. A value
A name points to an object and is the only way you can access an object.

An object has a value. It also has a type and an identity (location).

When we say "variable", we are casually combining the ideas of name and object.

In [5]:
x = 3

print(x)       # The value
print(type(x)) # The type
print(id(x))   # The identity

3
<class 'int'>
140717667435368

In [6]:
x = x + 1

print(x)       # The value
print(type(x)) # The type
print(id(x))   # The identity

4
<class 'int'>
140717667435400

What Happened?
1. A new object was created.
2. The old object was not given a new value.
3. Access to the old object was lost and it became subject to garbage collection.
4. The name was reused.

Valid Numeric Constants
Which of the following are valid? What is the type of each.

2e12
        2.
.2
9
09

In [7]:
x = 2e12
print(x)
print(type(x))

2000000000000.0
<class 'float'>

In [8]:
x = 2.
print(x)
print(type(x))

2.0
<class 'float'>

In [9]:
x = .2
print(x)
print(type(x))

0.2
<class 'float'>

In [10]:
x = 9
print(x)
print(type(x))

9
<class 'int'>

In [11]:
x = 09
print(x)
print(type(x))

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (646741153.py, line 1)

Task
You want to write a mathematical expression to add 3 and 4 to get 7 and then multiply the result by 2 to get 14.

Which of the following would work?

3
+
4
∗
2
 
or

2
∗
(
3
+
4
)

In [12]:
print(3 + 4 * 2)
print(2 * (3 + 4))

11
14

Task
Which two of the three following expressions are equal?

5
−
3
−
2
 
(
5
−
3
)
−
2
 
5
−
(
3
−
2
)

In [13]:
print(5 - 3 - 2)
print((5 - 3) - 2)
print(5 - (3 - 2))

0
0
4

Task
Which two of the three following expressions are equal?

5
∗
∗
3
∗
∗
2
 
(
5
∗
∗
3
)
∗
∗
2
 
5
∗
∗
(
3
∗
∗
2
)

In [14]:
print(5**3**2)
 
print((5**3)**2)
 
print(5**(3**2))

1953125
15625
1953125

Task
Is  
−
1
2
  the same as  
(
−
1
)
∗
(
−
1
)
 ?

In [15]:
print((-1)*(-1))
print(-1**2)

1
-1

Question
You've seen many examples of int(input()) because you want and expect a number as the result of the input() function, but it always returns a string.

What happens if your user enters a number with a decimal point?

In [16]:
x = int(input("Give me a number "))
print(x)

Give me a number 300.0

ValueError: invalid literal for int() with base 10: '300.0'

Follow Up
In this case, you needed float(input()) instead of int(input()). Let's make sure that it works.

In [17]:
x = float(input("Give me a number "))
print(x)

Give me a number 300.0
300.0

Hmmmm?
Suppose you used float(input()) and your user gave you an int. What would happen?

In [18]:
x = float(input("Give me a number "))
print(x)

Give me a number 300
300.0

Compound Operators
Use compound operators to carry out the following operations on a variable x, which is initially set to 1.0.

Print the result after each step.

1. Multiply x by 100
2. Add 10 to x
3. Subtract 20 from x
4. Divide x by 2
5. Raise x to the power .5

In [19]:
x = 1.0
x *= 100
print(x)
x += 10
print(x)
x -= 20
print(x)
x /= 2
print(x)
x **= .5
print(x)

100.0
110.0
90.0
45.0
6.708203932499369

Division of Integers.
What will the following python program print?

In [20]:
x = 5 / 3
print(x)

x = 5 // 3
print(x)

x = 5 % 3
print(x)

1.6666666666666667
1
2

The math Module
To access functions or constants in the math module, you must do two things.

1. Import the math module.
2. precede the item with math.

Will this work?

In [21]:
x = sqrt(2)
print(x)

NameError: name 'sqrt' is not defined

Will this work?

In [22]:
import math
x = sqrt(2)
print(x)

NameError: name 'sqrt' is not defined

Will this work?

In [23]:
import math
x = math.sqrt(2)
print(x)

1.4142135623730951

Mysteries of Backslash
What will the following lines of code print?

In [24]:
print("TomDickHarry")
print("Tom\nDick\nHarry")
print("Tom\\nDick\\nHarry")
print("Tom\\\nDick\\\nHarry")

TomDickHarry
Tom
Dick
Harry
Tom\nDick\nHarry
Tom\
Dick\
Harry